<div class="chat-header">
  <div class="chat-info">
    <div class="chat-info-details">
      <label>About {{vm.currentChatInfo.name}}</label>
    </div>
  </div>
  <div class="chat-functions pull-right">
    <a ui-sref="chat.conversation({type:'user',id:vm.currentChatInfo._id})" class=" chat-header-btn chat-settings">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
</div>
<div class="chat-main-content">
  <div class="col-md-12">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
          <img ng-src="{{vm.currentChatInfo.img}}" class="img-responsive img-rounded img-thumbnail">
        </div>
      </div>
      <hr>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-4">Name:</label>

          <div class="col-md-6">
            <input type="text" ng-model="vm.currentChatInfo.name" class="form-control" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4">Email:</label>

          <div class="col-md-6">
            <input type="text" ng-model="vm.currentChatInfo.email" class="form-control" disabled>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


