<li class="list-group-item ic-sidebar-list-item" ui-sref="chat.conversation({type:'user',id:item._id})" ui-sref-active="list-group-item-success">
  <div class="row">
    <div class="col-xs-3">
      <img ng-src="{{item.img ? item.img : item.logo_url}}" class="user-img img-circle img-responsive">
    </div>
    <div class="col-xs-9">
      <label class="user-info-name" ng-text-truncate="item.name" ng-tt-chars-threshold="20" ng-tt-no-toggling></label>
      <small ng-if="item.statusMsg" class="user-info-status" ng-text-truncate="item.statusMsg" ng-tt-chars-threshold="20"
             ng-tt-no-toggling></small>
      <small ng-if="item.description" class="user-info-status" ng-text-truncate="item.description" ng-tt-chars-threshold="20"
             ng-tt-no-toggling></small>
      <div class="ic-sidebar-list-item-settings">
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="simple-dropdown" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-option-vertical"></span>
          </a>
          <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
            <li ui-sref-active="active">
              <a href="" ui-sref="chat.info({type:'user',id:item._id})"><span
                class="glyphicon glyphicon-user"></span> Contact Info</a>
            </li>
            <li ui-sref-active="active">
              <a href="" ng-click="vm.addToBlacklist()"><span class="glyphicon glyphicon-list"></span> Add to blacklist</a>
            </li>
            <li role="separator" class="divider"></li>
            <li ui-sref-active="active">
              <a href="" ng-click="vm.removeContact()"><span class="glyphicon glyphicon-trash"></span> Delete contact</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</li>
