<ic-admin-panel-content title="$state.params.id ? 'Edit user' : 'Create new user'">
  <ic-loading is-loading="vm.loading">
  </ic-loading>
  <div ng-hide="vm.loading" class="panel-body">
    <form name="userForm" class="form-horizontal">
      <div class="col-md-6">

        <div class="form-group">
          <label class="control-label col-md-4">First name* :</label>

          <div class="col-md-8">
            <input name="name" type="text" class="form-control" ng-model="vm.user.name" required title="name">
            <small class="text-danger" ng-show="userForm.name.$error.required">* Please enter first name.</small>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-4">Last name* :</label>

          <div class="col-md-8">
            <input name="lastName" type="text" class="form-control" ng-model="vm.user.lastName" required
                   title="lastName">
            <small class="text-danger" ng-show="userForm.lastName.$error.required">* Please enter last name.</small>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-4">Status Message* :</label>

          <div class="col-md-8">
            <input name="statusMsg" type="text" class="form-control" ng-model="vm.user.statusMsg" required
                   title="statusMsg">
            <small class="text-danger" ng-show="userForm.statusMsg.$error.required">* Please enter status message.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-4">User Image URL* :</label>

          <div class="col-md-8">
            <input name="img" type="text" class="form-control" ng-model="vm.user.img" required title="img">
            <small class="text-danger" ng-show="userForm.img.$error.required">* Please enter user image URL.</small>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-4">Email* :</label>

          <div class="col-md-8">
            <input name="email" type="text" class="form-control" ng-model="vm.user.email" required title="email">
            <small class="text-danger" ng-show="userForm.email.$error.required">* Please enter email address.</small>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-4">Password* :</label>

          <div class="col-md-8">
            <input name="password" type="password" class="form-control" ng-model="vm.user.password" required title="password">
            <small class="text-danger" ng-show="userForm.password.$error.required">* Please enter password.</small>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-4">Address* :</label>

          <div class="col-md-8">
            <input name="address" type="text" class="form-control" ng-model="vm.user.address" required title="address">
            <small class="text-danger" ng-show="userForm.address.$error.required">* Please enter address.</small>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-md-4">Phone* :</label>

          <div class="col-md-8">
            <input name="phone" type="text" class="form-control" ng-model="vm.user.phone" required title="phone">
            <small class="text-danger" ng-show="userForm.phone.$error.required">* Please enter phone.</small>
          </div>
        </div>

        <div ng-show="$state.params.id">
          <div class="form-group">
            <label class="control-label col-md-4">Groups :</label>

            <div class="col-md-8">
              <input name="groups" type="text" class="form-control" ng-model="vm.user.groups">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4">Companies :</label>

            <div class="col-md-8">
              <input name="companies" type="text" class="form-control" ng-model="vm.user.companies">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4">Blacklist :</label>

            <div class="col-md-8">
              <input name="blackList" type="text" class="form-control" ng-model="vm.user.blackList">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-4">Contacts* :</label>

            <div class="col-md-8">
              <input type="text" class="form-control" ng-model="vm.user.contacts">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-success"
               ng-click="vm.saveUser()"
               ng-disabled="userForm.$invalid || userForm.$pristine"
               ng-bind="$state.params.id ? 'Update' : 'Create'"
               title="{{$state.params.id ? 'Update' : 'Create'}}">Create</a>
            <a class="btn btn-warning" ui-sref="admin.users.list">Back</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</ic-admin-panel-content>
