.chat-main-add-content {

  .chat-main-header {
    height: 50px;
    padding: 0 15px;
  }

  .chat-main-content {

    .search {
      width: 100%;
      border: none;
      height: 40px;
      padding: 0 15px;
    }

    .users-list {
      padding: 20px;

      li {
        width: 100%;
        background-color: #E2E2E3;
        list-style: none;
        padding: 5px;
        display: inline-block;

        button {
          float: right;
        }
      }
    }
  }
}
