<div class="chat-header">
  <div class="chat-info">
    <div class="chat-info-img">
      <img ng-src="{{vm.currentChat.img}}" class="user-img img-circle img-responsive">
    </div>
    <div class="chat-info-details">
      <label class="user-info-name" ng-bind="vm.currentDepartment.name"></label>
    </div>
  </div>
  <div class="chat-functions pull-right">
      <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle class="chat-header-btn chat-settings">
        <span class="glyphicon glyphicon-option-horizontal"></span>
      </a>
      <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
        <li ui-sref-active="active">
          <a href="" ui-sref="chat.info({type: 'user',id: vm.currentChat._id})"><span
            class="glyphicon glyphicon-user"></span> Department Info</a>
        </li>
        <li ui-sref-active="active">
          <a href="" ng-click="vm.clearMsg()"><span class="glyphicon glyphicon-remove"></span> Clear messages</a>
        </li>
      </ul>
    </span>
  </div>
</div>
<div id="content" class="chat-header-content">
  <div class="chat">
    <scrollable>
      <div class="scrollable-chat-container">
        <div class="chat-history">
          <ul>
            <li class="clearfix" ng-repeat="message in vm.currentChat.messages track by $index" ng-class="vm.isCurrentUser(message._sender._id)? '': 'pull-right'">
              <div class="message-data" ng-class="vm.isCurrentUser(message._sender._id)? '': 'pull-right'">
                <span class="message-data-time" ng-class="vm.isCurrentUser(message._sender._id)? 'pull-right': 'pull-left'">{{message.created_at | amCalendar }}</span> &nbsp; &nbsp;
                <span class="message-data-name" ng-class="vm.isCurrentUser(message._sender._id)? '': 'pull-right'">{{message._sender.name}}</span>
              </div>
              <div class="message"
                   ng-class="vm.isCurrentUser(message._sender._id)? 'my-message': 'other-message pull-right'"
                   ng-bind="message.content"></div>
            </li>
          </ul>
        </div>
      </div>
    </scrollable>
  </div>
</div>
<div class="chat-header-footer">
  <div class="chat-status" ng-show="vm.someoneTyping.status">{{vm.someoneTyping.name}} is typing...</div>
  <div class="send-message" style="height: 100%">
    <textarea id="message"
              class="form-control"
              ng-model="vm.message"
              placeholder="Write a message..."
              style="height: 100%;resize: none;"></textarea>
  </div>
  <a href="" class="send-btn" ng-click="vm.sendMessage()" ng-class="{disabled:!vm.message}">Send</a>
</div>
