<div class="ic-chat-sidebar-content">
  <div class="chat-tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
          <span class="glyphicon glyphicon-user"></span>
          <span class="badge">+99</span>
        </a>
      </li>
      <li>
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
          <span class="glyphicon glyphicon-briefcase"></span>
          <span class="badge">+99</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="chat-search">
    <input type="text" class="form-control" placeholder="Search..." ng-model="search">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
  </div>
  <div class="chat-list">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home" scrollable>
        <ul class="list-group">
          <ic-sidebar-list-item-single ng-repeat="item in vm.users | filter : search"
                                       item="item"></ic-sidebar-list-item-single>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile" scrollable>
        <ul class="list-group">
          <ic-sidebar-list-item-single ng-repeat="company in vm.companies | filter : search"
                                       item="company"></ic-sidebar-list-item-single>
        </ul>
      </div>
    </div>
  </div>
</div>
