<div class="ic-chat-sidebar-content">
  <div class="chat-search">
    <div class="has-feedback">
      <input type="text" class="form-control" placeholder="Search..." ng-model="search">
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </div>
  <uib-tabset class="chat-tabs">
    <uib-tab>
      <uib-tab-heading>
        <span class="glyphicon glyphicon-user"></span>
        <span class="badge">+99</span>
      </uib-tab-heading>

      <div class="full-height" scrollable>
        <ul class="list-group">
          <div ng-if="vm.contacts">
            <ic-sidebar-list-item-single ng-repeat="contact in vm.contacts | filter : search"
                                         item="contact._contact"></ic-sidebar-list-item-single>
          </div>
          <div ng-if="vm.contacts.length == 0">
            <label>You have no friends you poor bastard!! <a href="" ui-sref="chat.addContact"> click
              here</a> to add some friends :) </label>
          </div>
        </ul>
      </div>

    </uib-tab>
    <uib-tab>
      <uib-tab-heading>
        <span class="fa fa-users"></span>
        <span class="badge">+99</span>
      </uib-tab-heading>

      <div class="full-height" scrollable>
        <ul class="list-group">
          <div ng-if="vm.groups">
            <ic-sidebar-list-item-single ng-repeat="groups in vm.groups | filter : search"
                                         item="groups"></ic-sidebar-list-item-single>
          </div>
          <div ng-if="vm.groups.length == 0">
            <label>You have no groups you poor bastard!! <a href="" ng-click="vm.changeState('addGroup')"> click
              here</a> to add new group :) </label>
          </div>
        </ul>
      </div>

    </uib-tab>
    <uib-tab>
      <uib-tab-heading>
        <span class="glyphicon glyphicon-briefcase"></span>
        <span class="badge">+99</span>
      </uib-tab-heading>
      <div class="full-height" scrollable>
        <ul class="list-group">

          <ic-sidebar-list-item-single ng-repeat="contact in vm.contacts | filter : search"
                                       item="contact._contact"></ic-sidebar-list-item-single>

        </ul>
      </div>

    </uib-tab>
  </uib-tabset>
</div>
