<div class="ic-chat-sidebar-content">

  <div class="chat-search">
    <input type="text" class="form-control" placeholder="Search..." ng-model="search">
    <span class="input-group-addon glyphicon glyphicon-search"></span>
  </div>
  <uib-tabset class="chat-tabs">
    <uib-tab>
      <uib-tab-heading>
        <span class="glyphicon glyphicon-user"></span>
        <span class="badge">+99</span>
      </uib-tab-heading>

      <div class="full-height" scrollable>
        <ul class="list-group">
          <ic-sidebar-list-item-single ng-repeat="user in vm.users | filter : search"
                                       item="user"></ic-sidebar-list-item-single>

        </ul>
      </div>

    </uib-tab>
    <uib-tab>
      <uib-tab-heading>
        <span class="glyphicon glyphicon-briefcase"></span>
        <span class="badge">+99</span>
      </uib-tab-heading>
      <div scrollable>
        <ul class="list-group">
          <ic-sidebar-list-item-single ng-repeat="company in vm.companies | filter : search"
                                       item="company"></ic-sidebar-list-item-single>

        </ul>
      </div>

    </uib-tab>
  </uib-tabset>
</div>
