<div class="profile-image">
    <img ng-src="{{vm.user.img}}" class="img-circle img-responsive">
    <div class="user-status"></div>
</div>
<div class="profile-info">
    <label class="user-info-name" ng-bind="vm.user.name"></label>
    <small class="user-info-status" ng-bind="vm.user.status"></small>
</div>
<div class="profile-settings">
  <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
        <li><a href="#">New group</a></li>
        <li><a href="#">New company</a></li>
        <li><a href="#">Setting</a></li>
        <li><a href="" ng-click="vm.setFullScreenStatus()"><span ng-class="vm.isFullscreen ? 'glyphicon glyphicon-ok' : ''"></span>  Full screen</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Log out</a></li>
      </ul>
    </span>
</div>
</div>
