<div class="chat-header">
  <div class="chat-info col-xs-3">
    <div class="row">
      <div class="col-xs-3">
        <img ng-src="{{vm.currentChat.img}}" class="user-img img-circle img-responsive">

        <div class="user-status"></div>
      </div>
      <div class="col-xs-9">
        <label class="user-info-name" ng-bind="vm.currentChat.title"></label>
        <small class="user-info-status" ng-bind="vm.currentChat.status"></small>
      </div>
    </div>
  </div>
  <div class="chat-functions col-xs-9">
    <div class="pull-right">
      <a class="chat-header-btn chat-video-call" ng-click="vm.isVideoChat = !vm.isVideoChat">
        <span class="glyphicon glyphicon-facetime-video"></span>
      </a>
      <a class="chat-header-btn chat-voice-call">
        <span class="glyphicon glyphicon-earphone"></span>
      </a>
      <a class="chat-header-btn chat-attachment">
        <span class="glyphicon glyphicon-paperclip"></span>
      </a>
      <a class="chat-header-btn chat-settings">
        <span class="glyphicon glyphicon-option-horizontal"></span>
      </a>
    </div>
  </div>
</div>
<div class="chat-header-content">
  <div ng-hide="vm.isVideoChat" style="height:100%">
  <scrollable>
    <div class="scrollable-chat-container">
    <div class="message-list" ng-repeat="message in vm.currentChat.messages track by $index" >
      <div class="message-list-box">
        <div class="message-item">
          <div class="message-sender-info " ng-class="vm.isCurrentUser(message._sender)? 'pull-right': 'pull-left'">
            <div class="message-sender">
              <img src="assets/images/user.png" class="user-img img-circle img-responsive">
            </div>
          </div>
          <div class="message"  ng-class="vm.isCurrentUser(message._sender._id)? 'pull-left': 'pull-right'">
            <div class="content">
              <label>{{message._sender.name}}</label>
              <p ng-bind-html="message.content  | colonToSmiley"></p>
              <small>{{message.created_at | date: 'HH:mm dd/MM/yyyy'}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </scrollable>
  </div>
  <div ng-show="vm.isVideoChat" class="video-chat-content" style="height:100%">
    <div id="videoContainer"></div>
    <video id="local-video" height="150" autoplay></video>
    <video id="remote-video" height="150" autoplay></video>

    <div style="padding: 17px; padding-top: 0px;color:white;">
  <span ng-hide="error">
  Allow the browser to use your web cam and after that share the URL from the address bar with the people you want to talk with.
  </span>
      <br>
      <span ng-bind="error"></span>
    </div>

    <div class="video-wrapper">
      <video-player class="col-md-4" ng-repeat="peer in peers" vid-src="{{peer.stream}}"></video-player>
    </div>

    <div class="video-wrapper">
      <div class="col-md-2">
        <video ng-src="{{getLocalVideo()}}" autoplay muted></video>
      </div>
    </div>

  </div>
</div>

<div class="chat-header-footer">
  <div class="chat-status" ng-show="vm.someoneTyping.status">{{vm.someoneTyping.name}} is typing...</div>
  <div emoji-form emoji-message="vm.emojiMessage" class="send-message">
        <textarea class="form-control send-message"
                  id="messageInput"
                  ng-model="vm.emojiMessage.messagetext"
                  placeholder="Write a message..."
                  ng-enter="vm.sendMessage()"></textarea>
    <button id="emojibtn">
      <i class="icon icon-emoji"></i>
    </button>
  </div>
  <a href="" class="send-btn" ng-click="vm.sendMessage()">Send</a>
</div>
