.chat-header {
  display: flex;
  height: 100%;
  padding: 10px;

  .chat-info {
    float: left;
    height: 100%;

    .chat-info-img {
      float: left;
      height: 100%;

      img {
        height: 100%;
      }
    }

    .chat-info-details {
      padding: 0 0 0 15px;
      float: left;
    }
  }

  .chat-functions {
    float: right;
    height: 100%;
  }
}


.message-sender-info {
  width: 20%;
}

.message {
  width: 80%;
}

.message-sender {
  padding: 5px;
  width: 80%;
  float: left;
}

#emojibtn {
  width: 38px;
  float: left;
  border: none;
  background: none;
}

#messageDiv {
  width: ~"calc(100% - 38px)";
  float: right;
}

.emoji-wysiwyg-editor {
   margin-bottom: 0;
}

.chat-header-content {

  .video-chat-content {
    height: 100%;
    background: black;
  }

  .nano-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .scrollable-chat-container {
      margin-top: auto;
    }
  }
}


