.message-sender-info {
  width: 20%;

}

.message {
  width: 80%;
}

.message-sender {
  padding: 5px;
  width: 80%;
  float: left;
}

#emojibtn {
  width: 38px;
  float: left;
  border: none;
  background: none;
}

#messageDiv {
  width: ~"calc(100% - 38px)";
  float: right;
}

.emoji-wysiwyg-editor {
   margin-bottom: 0;
}

.chat-header-content {

  .nano-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .message-list {
      margin-top: auto;
    }
  }


}
