<ic-admin-panel-content title="$state.params.id ? 'Edit new group' : 'Create new group'">
  <ic-loading is-loading="vm.loading">
  </ic-loading>
  <div ng-hide="vm.loading" class="panel-body">
    <form name="groupForm" class="form-horizontal">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-4">Name* :</label>

          <div class="col-md-8">
            <input name="name" type="text" class="form-control" ng-model="vm.group.name" required>
            <small class="text-danger" ng-show="groupForm.name.$error.required">* Please enter group name.</small>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4">Description* :</label>

          <div class="col-md-8">
            <input name="description" type="text" class="form-control" ng-model="vm.group.description" required>
            <small class="text-danger" ng-show="groupForm.description.$error.required">* Please enter group
              description.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4">Logo URL:</label>

          <div class="col-md-8">
            <input type="url" name="url" class="form-control" ng-model="vm.group.logo_url">
            <small class="text-danger" ng-show="groupForm.url.$error.url">* Please enter valid url address.</small>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4">Users:</label>

          <div class="col-md-8">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="user in vm.group.users">{{($index+1)+'. '+ user.name}}
                <a href="" ng-click="vm.removeUser(user)">
                  <span class="glyphicon glyphicon-remove pull-right text-danger"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-offset-4 col-md-8">
            <div class="input-group">
              <select class="form-control" ng-model="vm.newUser"
                      ng-options="userOpt.name for userOpt in vm.usersOpt track by userOpt._id"></select>

              <div class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="vm.addUser(vm.newUser)">Add user</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-success"
               ng-click="vm.saveGroup()"
               ng-disabled="groupForm.$invalid || groupForm.$pristine"
               ng-bind="$state.params.id ? 'Update' : 'Create'"
               title="{{$state.params.id ? 'Update' : 'Create'}}"></a>
            <a class="btn btn-warning" ui-sref="admin.groups.list" title="Back">Back</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img ng-src="{{vm.group.logo_url}}" ng-show="vm.group.logo_url && !groupForm.url.$error.url"
             class="img-responsive center-block"/>
      </div>
    </form>
  </div>
</ic-admin-panel-content>
