<ic-admin-panel-content title="$state.params.id ? 'Edit new group' : 'Create new group'">
  <ic-loading is-loading="vm.loading">
  </ic-loading>
  <div ng-hide="vm.loading" class="panel-body">
    <form name="groupForm" class="form-horizontal">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-4">Name* :</label>

          <div class="col-md-8">
            <input name="name" type="text" class="form-control" ng-model="vm.group.name" required>
            <small class="text-danger" ng-show="groupForm.name.$error.required">* Please enter group name.</small>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4">Description* :</label>

          <div class="col-md-8">
            <input name="description" type="text" class="form-control" ng-model="vm.group.description" required>
            <small class="text-danger" ng-show="groupForm.description.$error.required">* Please enter group
              description.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4">Logo URL* :</label>

          <div class="col-md-8">
            <div class="input-group">
              <input type="url" name="url" class="form-control" ng-model="vm.group.logo_url" required>

              <div class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="vm.group.logo_url = vm.groupDefaultImgUrl" ng-disabled="vm.group.logo_url === vm.groupDefaultImgUrl">Set default</button>
              </div>
            </div>
            <small class="text-danger" ng-show="groupForm.url.$error.url">* Please enter valid url address.</small>
            <small class="text-danger" ng-show="groupForm.url.$error.required">* Please enter group logo url.</small>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-4">Users:</label>

          <div class="col-md-8">
            <ul class="list-group" ng-show="vm.group.users.length">
              <li class="list-group-item clearfix" ng-repeat="user in vm.group.users">
                <p class="pull-left">{{($index+1)+'. '+ user.name}}</p>
                <a class="pull-right btn btn-default btn-xs"
                   ng-click="vm.removeUser(user)"
                   style="border:none;width:24px;"
                   ladda="user.loading"
                   data-style="contract">
                  <span class="glyphicon glyphicon-remove text-danger"></span>
                </a>
              </li>
            </ul>
            <div class="input-group">
              <select class="form-control" ng-model="vm.newUser"
                      ng-options="userOpt.name for userOpt in vm.usersOpt track by userOpt._id"
                      ng-disabled="vm.loadingNewUser">
                <option value="">-- Select user --</option>
              </select>

              <div class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="vm.addUser(vm.newUser)"
                        ladda="vm.loadingNewUser" data-style="expand-right" ng-disabled="!vm.newUser">Add user
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <a class="btn btn-success"
               ng-click="vm.saveGroup()"
               ng-disabled="groupForm.$invalid || groupForm.$pristine"
               ng-bind="$state.params.id ? 'Update' : 'Create'"
               title="{{$state.params.id ? 'Update' : 'Create'}}"></a>
            <a class="btn btn-warning" ui-sref="admin.groups.list" title="Back">Back</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img ng-src="{{vm.group.logo_url}}" ng-show="vm.group.logo_url && !groupForm.url.$error.url"
             class="img-responsive center-block"/>
      </div>
    </form>
  </div>
</ic-admin-panel-content>
