<div class="chat-container"
     ng-class="isFullscreen ? 'container-fluid' : 'container'"
     ng-keyup="keyup($event.keyCode)"
     ng-swipe-left="showSidebar = false"
     ng-swipe-right="showSidebar = true">
  <div class="full-height">

    <div class="chat-sidebar" ng-show="showSidebar">
      <ic-sidebar-profile></ic-sidebar-profile>
      <ic-sidebar-tabs></ic-sidebar-tabs>
    </div>
    <div class="chat-main" ng-class="{'full-width': !showSidebar}">
      <div class="doggle-btn" ng-click="showSidebar = !showSidebar">
        <span class="glyphicon" ng-class="showSidebar ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right'"></span>
      </div>
      <ic-chat-main ng-if="state === 'chat'"></ic-chat-main>
      <ic-chat-main-empty ng-if="state === 'empty'"></ic-chat-main-empty>
      <ic-chat-main-add-contact ng-if="state === 'addContact'"></ic-chat-main-add-contact>
    </div>
  </div>
</div>
