<div class="chat-header">
  <div class="chat-info">
    <div class="chat-info-details">
      <label>Add new company</label>
    </div>
  </div>
</div>
<div class="chat-main-content">
  <input type="text" class="search" ng-model="vm.search" placeholder="Type here to search new company">
  <ul class="companies-list list-group">
    <li class="list-group-item" ng-repeat="company in vm.companies | filter: vm.search">
      <img ng-src="{{company.logo_url}}" class="company-img img-responsive img-rounded"/>
      <p>{{company.name}}</p>
      <button type="submit" class="btn btn-success pull-right" ng-click="vm.addCompany(company)">Add company</button>
      <div class="clearfix"></div>
    </li>
  </ul>
</div>
